.content {
    margin: 50px auto;
    width: 900px;
    height: 900px;
    border: 1px solid blue;
}

header {
    background-image: url(image.jpeg);
    height: 300px;
    background-size: cover;
    background-position: ;

}

nav {
    background-color: lightskyblue;
}

nav ul li {
    display: inline-block;
    background-color: white;
    border: 1px solid lightblue;
    height: 50px;
    line-height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    
}